@media (max-width: 576px) {
            nav .container {
                width: 100%;
            }
        }

@media (max-width: 990px) {
            nav .nav-container {
                padding-bottom: 25px;
            }
        }


@media (max-width: 990px) {
            div .login-box {
                margin-top: 0px;
                padding-top: 90px;
            }
        }

