#myBody {
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    background-image: url(img/bg.jpg);
    background-size: cover;
/*    background-position: center;*/
    background-repeat: no-repeat;
    
}

.nav-container {
    background-color: #343436;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-icon {
    padding-left: 20px;
    padding-right: 10px;
    color: white;
}

.nav-text {
    color: white;
}

/*login page*/

.login-box {
    background-color: aqua;
    height: 250px;
    margin-top: 250px;
    padding-top: 10px;
}

.login-box {
    margin-top: 20%;
    height: auto;
    background: #343436;
    text-align: center;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

/*
input[type=text] {
    background-color: #343436;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #343436;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}


}
*/

.test-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}


/*dashboard page one*/
.section-test-cls-one {
    margin-top: 75px;
    background-color: #A2A4A4;
    padding-bottom: 7px;
}

.top-row-a-cls {
    background-color:darkblue;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px; 
    color: white;
}

.second-row-cls {
    margin-top: 5px;
}

.first-row-cls {
    background-color: beige
}

.col-one {
    background-color: cornsilk;
}

.col-two {
    background-color: azure;
}

.new-col {
    background-color: aqua;
}